<form action="<%= formAction %>" method="post" class="form-horizontal" role="form">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="_owner" class="col-sm-4 control-label">
                    <a href="/owner/edit/<%= _owner %>" title="Owner Information">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Owner
                    </a>
                </label>
                <div class="col-sm-8">
                    <select id="_owner" name="_owner" class="form-control">
                        <option value="">- select -</option>
                        <% owners.forEach(function(item) { %>
                        <option value="<%= item._id %>"<%= (item._id == _owner) ? ' selected' : '' %>><%= item.firstName %> <%= item.lastName %></option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="_agent" class="col-sm-4 control-label">
                    <a href="/agent/edit/<%= _agent %>" title="Agent Information">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Agent
                    </a>
                </label>
                <div class="col-sm-8">
                    <select id="_agent" name="_agent" class="form-control">
                        <option value="">- select -</option>
                        <% agents.forEach(function(item) { %>
                        <option value="<%= item._id %>"<%= (item._id == _agent) ? ' selected' : '' %>><%= item.firstName %> <%= item.lastName %></option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="propertyName" class="col-sm-4 control-label">House Name</label>
                <div class="col-sm-8">
                    <input type="text" id="propertyName" name="propertyName" value="<%= propertyName %>" class="form-control" placeholder="House Name">
                </div>
            </div>
            <div class="form-group">
                <label for="area" class="col-sm-4 control-label">Area</label>
                <div class="col-sm-8">
                    <select id="area" name="area" class="form-control">
                        <option value="">- select -</option>
                        <% areas.forEach(function(item) { %>
                        <option value="<%= item %>"<%= (item == area) ? ' selected' : '' %>><%= item %></option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="streetAddr" class="col-sm-4 control-label">Street Address</label>
                <div class="col-sm-8">
                    <input type="text" id="streetAddr" name="streetAddr" value="<%= streetAddr %>" class="form-control" placeholder="Street Address">
                </div>
            </div>
            <div class="form-group">
                <label for="streetAddr2" class="col-sm-4 control-label">Street Address 2</label>
                <div class="col-sm-8">
                    <input type="text" id="streetAddr2" name="streetAddr2" value="<%= streetAddr2 %>" class="form-control" placeholder="Street Address 2">
                </div>
            </div>
            <div class="form-group">
                <label for="city" class="col-sm-4 control-label">City</label>
                <div class="col-sm-8">
                    <input type="text" id="city" name="city" value="<%= city %>" class="form-control" placeholder="City">
                </div>
            </div>
            <div class="form-group">
                <label for="state" class="col-sm-4 control-label">State</label>
                <div class="col-sm-8">
                    <input type="text" id="state" name="state" value="<%= state %>" class="form-control" placeholder="State">
                </div>
            </div>
            <div class="form-group">
                <label for="zip" class="col-sm-4 control-label">Zip</label>
                <div class="col-sm-8">
                    <input type="text" id="zip" name="zip" value="<%= zip %>" class="form-control" placeholder="Zip">
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="phone" class="col-sm-4 control-label">Phone</label>
                <div class="col-sm-8">
                    <input type="tel" id="phone" name="phone" value="<%= zip %>" class="form-control" placeholder="Phone">
                </div>
            </div>
            <div class="form-group">
                <label for="fax" class="col-sm-4 control-label">Fax</label>
                <div class="col-sm-8">
                    <input type="tel" id="fax" name="fax" value="<%= zip %>" class="form-control" placeholder="Fax">
                </div>
            </div>
            <div class="form-group">
                <label for="showPropertyOnWeb" class="col-sm-4 control-label">List on web
                    site?</label>
                <div class="col-sm-8">
                    <select id="showPropertyOnWeb" name="showPropertyOnWeb" class="form-control">
                        <% ['Yes', 'No'].forEach(function(item) { %>
                        <option value="<%= item %>"<%= (item === showPropertyOnWeb) ? ' selected' : '' %>><%= item %></option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="showPropertyOnWeb" class="col-sm-4 control-label">Status</label>
                <div class="col-sm-8">
                    <select id="showPropertyOnWeb" name="showPropertyOnWeb" class="form-control">
                        <% ['Active', 'Inactive'].forEach(function(item) { %>
                        <option value="<%= item %>"<%= (item === status) ? ' selected' : '' %>><%= item %></option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="showAddressOnWeb" class="col-sm-4 control-label">Display address on web
                    site?</label>
                <div class="col-sm-8">
                    <select id="showAddressOnWeb" name="showAddressOnWeb" class="form-control">
                        <% ['Yes', 'No'].forEach(function(item) { %>
                        <option value="<%= item %>"<%= (item === status) ? ' selected' : '' %>><%= item %></option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="cleanningHours" class="col-sm-4 control-label">Cleaning Hours</label>
                <div class="col-sm-8">
                    <input type="text" id="cleanningHours" name="cleanningHours" value="<%= cleanningHours %>" class="form-control" placeholder="Cleaning Hours">
                </div>
            </div>
            <div class="form-group">
                <label for="notes" class="col-sm-4 control-label">Notes</label>
                <div class="col-sm-8">
                    <textarea id="notes" name="notes" class="form-control" placeholder="Notes"><%= notes %></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="comments" class="col-sm-4 control-label">Comments</label>
                <div class="col-sm-8">
                    <textarea id="comments" name="comments" class="form-control" placeholder="Comments"><%= comments %></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>